/* Universal Selector */
* {
    font-family: Arial, sans-serif;
}

/* Element Selector */
p {
    color: black;
    background-color: lightgray;
    text-align: left;
}

/* Another Element Selector */
h1 {
    font-size: 28px;
}
